<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="dbConString" connectionString="Data Source=LAPTOP-EHRV8AC6;Initial Catalog=bridgeLabz;Integrated Security=True"/>
		<add name="payConString" connectionString="Data Source=LAPTOP-EHRV8AC6;Initial Catalog=payRollService;Integrated Security=True"/>
	</connectionStrings>
</configuration>